@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model IEnumerable<EmployeeResponseDto>

@using(Html.BeginForm("Index","Employee",FormMethod.Get))
{
    <h2>Search by phone and/or zip code</h2>
    <p>
        Phone: <input type="text" name="searchByPhone" value="@ViewBag.SearchByPhone" />
        ZipCode: <input type="text" name="searchByZipCode" value="@ViewBag.SearchByZipCode" />
        <input type="submit" value="Search"/>
    </p>

    <table>
        <thead>
            <tr>
                <th>Employee Id</th>
                <th>Employee Number</th>
                <th>Employee Name</th>
                <th>Employee HireDate</th>
                <th>Employee Address</th>
                <th>Employee Phone</th>

            </tr>
        </thead>
        <tbody>
            @foreach(var employee in Model)
            {
                <tr>
                    <td>@employee.EmployeeId</td>
                    <td>@employee.EmployeeNumber</td>
                    <td>@employee.FirstName - @employee.LastName</td>
                    <td>@employee.HireDate</td>
                    <td>Address : 
                        @foreach(var eAdd in employee.EmployeeAddress){
                           <p> @eAdd.Address1 @eAdd.Address2 <br/>@eAdd.City @eAdd.State <br/> @eAdd.ZipCode</p>
                        }
                    </td>
                    <td>
                        @foreach(var ePhone in employee.EmployeePhone){
                            <p>@ePhone.PhoneType : @ePhone.PhoneNumber</p>
                        }
                        </td>
                </tr>
            }
        </tbody>
    </table>

}
